# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set mysql_connection_string "server=127.0.0.1;database=vrpfx;userid=root;password=Origin1239;"

start mapmanager
start chat
start spawnmanager
start fivem
start hardcap
start rconlog
start runcode
start uniform
start mysql-async


#vRP
start vrp
start vrp_mysql
start vrp_dmvschool
start vrp_showroom
start vrp_garages
start vrp_job_display
start vrp_lscustoms
start vrp_basic_menu
start vrp_jail
start vrp_datetime
start vrp_armorshop
start vrp_arrestanims
start vrp_barbershop
start vrp_basic_mission
start vrp_delivery
start vrp_fuel
start vrp_gtfo
start vrp_lyd
start vrp_scrapyard
start vrp_tattoos
start vrp_taxi
start vrp_trucker
start vrp_truckerfuel
start vrp_ui
start vrp_deliverypizza
start vrp_foto
start vrp_carwash
start vrp_holdup
start vrp_robbery
start vrp_loadfreeze
start vrp_wanted
start vrp_kister
start on_identity
start on_guns
#start vrp_cuff

#On
start on_blackout
start on_disclaimer
start on_toj
start on_report
start on_commands
start on_emotes
start on_playerlist
start on_watermark
start on_blink
start on_besog
start on_npcless
start on_removecopsguns
start on_scripts
start on_seatswitch
start on_towscript
start on_npc
start on_ui
start on_carhud
start on_skins
start on_sound
start on_loadingscreen
start on_securitycams
start on_driveby
start on_discord
start on_bilskade
start on_vejr
start on_hospital
start on_roblox
start on_camera
start PTTPoliceRadio
start VabenScript
start on_car
start on_teleport
#start on_maps
start on_motor
start on_clothing
start cardealer
start vrp_headbag
start on_atm
start on_wk_wrs
start on_cleanup
start gcphone
start eup-stream
start eup-ui
start NativeUI

#Biler
start biler
start faggio2
start taxi 
start vwcaddy
start supervolito
start polbike
start oakut
start oambu
start paramed


#Misc
start pNotify
start InteractSound
start iplLoader
start cwradargun
start els-fivem
start vrp_barrier


#Restarts
restart sessionmanager


# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.
#rcon_password changeme

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "^1[DK] ^3 Origin Network ^0 »^4 Server 1 ^0 » ^1https://discord.gg/uBuwqRv"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32)
sv_maxclients 32

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey ff5y4u4oxfaqqdig9jszqglrqpi2s82s