@import url('https://fonts.googleapis.com/css?family=Oswald');
body{
  background: transparent !important;
  opacity: 0.75;
}
span{
  color: rgb(255,150,0) !important;
}
h1{
  text-shadow: 2px 2px 4px #000;
  margin-top: 0.4% !important;
  margin-bottom: 0 !important;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color: white !important;
}
#horario h3{
  text-shadow: 2px 2px 4px #000;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  color: white;
}
